@mixin context($WeakColor, $StrongColor) {
  .header {
    &__nav {
      &--list {
        &-dropdown {
          .dropdown {
            padding-top: 0.5rem;
            &__action {
              &--link {
                width: 7rem;
                .link {
                  &:hover {
                    color: var(--color-white);
                    background-color: $WeakColor;
                  }
                }
              }
            }
          }
        }
        &-link {
          &:hover::after {
            background-color: $WeakColor;
          }
          &:hover {
            color: $StrongColor;
          }
        }
      }
    }
  }
}
.header {
  height: var(--dimensions-fixed-56);
  display: flex;
  padding: var(--size-xx-tiny) var(--size-x-small);
  align-items: center;
  border-bottom: 1px solid var(--color-neutral-50);
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-white);
  &__brand {
    display: flex;
    align-items: center;
    justify-content: center;

    &--button {
      margin-right: var(--size-large);
    }
    &--logo {
      cursor: pointer;
      width: var(--size-large);
      height: var(--size-large);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__nav {
    display: none;
    &--list {
      gap: var(--size-large);
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      &-item {
        display: inherit;
      }
      &-link {}
      &-dropdown {}
    }
  }
  &__context {
    &--info {
      @include context(var(--color-info-80), var(--color-info-90));
    }

    &--error {
      @include context(var(--color-error-80), var(--color-error-90));
    }

    &--neutral {
      @include context(var(--color-neutral-90), var(--color-neutral-100));
    }

    &--success {
      @include context(var(--color-success-80), var(--color-success-90));
    }

    &--primary {
      @include context(var(--color-primary-80), var(--color-primary-90));
    }

    &--secondary {
      @include context(var(--color-secondary-80), var(--color-secondary-90));
    }

    &--attention {
      @include context(var(--color-attention-80), var(--color-attention-90));
    }
  }

  @media screen and (min-width: 720px) {
    height: var(--dimensions-fixed-68);
    &__brand {
      &--button {
        display: none;
      }
    }
    &__nav {
      display: block;
    }
  }
}