@import "../../styles/main";

@mixin context($color) {
  .dropdown {
    &__action {
      &--link {
        .link {
          &:hover {
            color: $color;
          }
        }
      }
    }
  }
}

.dropdown {
  width: 100%;
  display: inline-block;
  position: relative;
  .button__icon--position-right {
    margin-top: 0;
  }

  &__action {

    &--link {
      top: 100%;
      width: auto;
      display: flex;
      z-index: 101;
      padding: var(--size-regular) 0;
      position: absolute;
      flex-direction: column;
      margin-top: var(--size-tiny);
      box-shadow: var(--box-shadow-x-small);
      border-radius: var(--border-radius-regular);
      background-color: var(--color-white);
      .link {
        padding: var(--size-x-small) var(--size-xx-regular);
      }
    }
    &--button {
      .button {
        display: flex;
        padding: var(--size-x-small) var(--size-xx-regular);
        margin-top: var(--size-tiny);
      }
    }
  }

  &__context {
    &--info {
      @include context( var(--color-info-80) );
    }
    &--error {
      @include context( var(--color-error-80) );
    }
    &--neutral {
      @include context( var(--color-neutral-100) );
    }
    &--success {
      @include context( var(--color-success-80) );
    }
    &--primary {
      @include context( var(--color-primary-100) )
    }
    &--secondary {
      @include context( var(--color-secondary-100) )
    }
    &--attention {
      @include context( var(--color-attention-80) );
    }

  }
}