@import "../../styles/main";
@mixin context($LightColor, $MediumColor, $DarkColor) {
  &-content__type--link {
    top: 100%;
    display: flex;
    flex-direction: column;
    width: auto;
    z-index: 101;
    padding: var(--size-regular) 0;
    position: absolute;
    margin-top: var(--size-tiny);
    box-shadow: var(--shadows-x-small);
    border-radius: var(--borders-regular);
    background-color: var(--colors-neutral-70);
    .link {
      padding: var(--size-x-small) var(--size-xx-regular);
    }
  }
  &-content__type--button {
    .button {
      &__context--info,
      &__context--error,
      &__context--neutral,
      &__context--success,
      &__context--primary,
      &__context--secondary,
      &__context--attention, {
        &-appearance__standard,
        &-appearance__outline,
        &-appearance__borderless,
        &-appearance__icon {
          margin-top: var(--size-tiny);
        }
      }
    }
  }
}

.dropdown {
  width: 100%;
  display: inline-block;
  position: relative;
  .button__icon--position-right {
    margin-top: 0;
  }

  &__context--info {
    @include context( var(--color-info-60), var(--color-info-80), var(--color-info-80) );
  }
  &__context--error {
    @include context( var(--color-error-60), var(--color-error-80), var(--color-error-80) );
  }
  &__context--neutral {
    @include context( var(--color-neutral-60), var(--color-neutral-80), var(--color-neutral-100) );
  }
  &__context--success {
    @include context( var(--color-success-60), var(--color-success-80), var(--color-success-80) );
  }
  &__context--primary {
    @include context( var(--color-primary-50), var(--color-primary-80), var(--color-primary-100) );
  }
  &__context--secondary {
    @include context( var(--color-secondary-50), var(--color-secondary-80), var(--color-secondary-100) );
  }
  &__context-attention {
    @include context( var(--color-attention-60), var(--color-attention-80), var(--color-attention-80) );
  }
}