@import "../../styles/main";

.label {
  margin:  0 0 var(--size-xx-tiny) 0;

  &__text {
    color: var(--colors-neutral-120);
    font-size: var(--size-regular);
    line-height: var(--size-regular);
  }
}